Flutter/Dart/Pub

.dart_tool/
.packages
.pub/
build/
.flutter-plugins
.flutter-plugins-dependencies

Android

.gradle
.idea
*.iml
local.properties

Windows

*.sln
*.suo
*.user

# Security / Certificates
**/certs/
**/*.pem
**/*.key
**/*.p12
**/*.jks
**/*.pfx
**/*.cer
**/*.crt

# Environment files
.env
.env.local
.env.*.local
*.env